@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 20px;
}

.gm-style .gm-style-iw-c {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
  max-height: 400px;
}

.gm-style .gm-style-iw-c button.gm-ui-hover-effect {
  opacity: 0;
  pointer-events: none;
}
